

.main-container {
    display: flex;
    flex-direction: column; /* Aligns items in a column */

}


.image-container {
    display: flex;
    flex-direction: column; /* Aligns items in a column */
    align-items: center; /* Centers images horizontally */
}

.image-container img {
    margin: 0px 0; /* Add some space between images */
    max-width: 100%; /* Ensures images are responsive */
}

.audio-container {
    margin-top: 20px; /* Space above the audio */
    text-align: center; /* Center the audio controls */
}

.audio-container {
    margin: 30px 0; /* Add some space between images */
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    display: flex;
    /* Adjust positioning as needed */
    z-index: 1; /* Ensure it appears above the image */
}

